*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
  align-items: center;
    margin-top: 3px;
    /* margin-top: 2px; */
    border-bottom: 1px solid gray;
    /* border-top: 1px solid grey; */
}
.headerleft{
    display: flex;
    align-items: center;
}
.headerleft .logo{
    padding: 20px 10px;
    

}
.address{
    padding: 20px 10px;
}
.searchbox{
    flex-grow: 1;
    display: flex;
    border: 1.5px solid grey;
    margin-left: 20px;
    border-radius: 9px;
    background-color: rgb(222, 217, 217);
    
    
   
}
.searchbox button{
    padding: 7px 5px;
    border: none;
    background-color: transparent;
    

}
 input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    
    padding:10px ;
    outline: none;

}
.buttonbox{
    display: flex;
    
    gap: 20px;
}

#a{
    padding: 12px;
    margin-left: 20px;
    border: none;
    font-size: 20px;
    background-color: transparent;

}
#b{
    margin-right: 20px;
    padding: 15px;
    background-color: green;
    color: white;
    border-radius: 9px;
    font-weight: bold;
    
    font-size: 20px;
}
.bannersection{
    max-width: 1280px;
    margin: 20px    80px;
    margin: auto;
}
.bannersection img{
    width: 100%;
    margin-top: 10px;
}
.itemsbox{
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 1280px;
    margin-left: 20px;
    margin: auto;
    
}
.itembox1{
    flex-basis: 28%;
    margin: 1.5%;

}
.itembox1 img{
    
    width: 100%;

}
.dailyneeds{
    display: flex;
    justify-content: center;
    max-width: 1280px;
    flex-wrap: wrap;
    margin: auto;
}
.items{
    flex-basis: 15%;
}
.items img{
    width: 100%;
}
.heading{
    font-size:25px ;
    margin-left: 120px;
}
.snacks{
    display: flex;
    max-width: 1280px;
    margin: auto;
    gap: 2%;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 30px;
    
}
.snacksitems{
    flex-basis: 15%;
    box-shadow: 0px 0px 10px 2px rgb(176, 171, 171);
    border-radius: 13px;
    /* border: 0.1px solid gray; */
    padding: 10px;
}

.snacksimg{
    text-align: center;
}
.snacksimg p{
    text-align: left;
    padding: 3px;
    width: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f8f8f8;
}
.snacksinfo h2{
    font-size: 19.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.snacksbtn{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.snacksbtn p{
    font-weight: bold;
    font-size: 20px;
}
.snacksbtn button{
    padding: 4px 15px;
    background-color: rgb(32, 164, 32);
    color: rgb(244, 245, 247);
    
    border: 2px solid green;
    border-radius: 5px;
    font-weight: bold;
}
.footerbox1{
    display: flex;
    width: 100%;
    
    
    
}
.footer-mid{
    display: flex;
    width: 100%;
}
.footer-mid-left{
    flex-basis: 30%;
    margin-left: 50px;
}

.links{
    display: flex;
}
.links ul{
    flex-basis: 33%;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    padding: 20px;
    
    
}
.links ul li a{
    text-decoration: none;
    display: block;
    
    margin-bottom: 10px;
    
    font-size: 20px;
}
.footer-mid-right{
    flex-basis: 60%;
}
.footer-mid-left h2 {
    margin-bottom: 20px;
    
}
.mid-right-heading{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .mid-right-heading p a{
    text-decoration: none;
    font-size: 25px;
    color: green;
  }
  .links{
    margin-top: 30px;
  }
  .footer-mid{
    gap: 30px;
  }
  .footer-mid-right{
    margin-left: 50px;
  }
  .footer-mid{
    margin-top: 20px;
  }
  a:hover{
    color: rgb(244, 0, 0);
    cursor: pointer;
  }
  button:hover{
    cursor: pointer
    
  }